/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
/* header */
header{
    background-color: white;
    padding-left: 20px;
    padding-top: 10px;
}
/* logo */
.logo{
    width: 100px;
    vertical-align: middle;
    
}
/* titolo */
h1{
    display: inline-block;
    vertical-align: middle;
    font-size: 80px;
}
/* sfondo */
body{
    background-color: #f6f8f9;
    
}
/* impaginazione */
.container{
    margin-top: 5%;
    margin-left: 12%;
    margin-right: 12%;
    margin-bottom: 1%;
    background-color: white;
    border-radius: 10px;
}
/* primo blocco bianco */
.bottoni{
    padding: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom:#f6f8f9 solid ;
}
/* estetica in comune bottoni */
.bottoni a{
    text-decoration: none;
    border-radius: 5px;
    border: 2px solid;
    padding: 7px;
}
/* estetica bottone add task */
.add-task{
    color:white ;
    background-color:#47adf1 ;
    
}
/* estetica bottone add section */
.add-section{
    color: #d4d9dd;
    background-color: white;
}
.list{
    padding: 27px;
}
/* elementi lista */
ul{
    list-style-type: none;
}
.triangolino{
    font-size: 40px;
    vertical-align: middle;
}
.list h2{
    vertical-align: middle;
}
.check{
    
    border:#70c5b0 solid 2px ;
    border-radius: 50%;
    color: #70c5b0;
}
.colored-box{
    border: 1px solid;
    border-radius: 10px;
    font-size: 10px;
    padding: 6px;
    color: white;
}
#editorial{
    background-color:#45abea ;
}